{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Content List</title>
        <!-- CSS And JavaScript -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
        <link rel="stylesheet" href="{% static 'css/todo.css' %}">
    </head>
    <body>
        <style>
        button{
            background-color: red;
            border: 1px solid red;
        }
        body{
            background: url('https://wallpaper.thaiware.com/upload/wallpaper/2008_11/medium/4048_4266_081110123248_65.jpg');
        }
        /* .containner{
            background-color:palevioletred;
            margin-top: 25px;
        } */
        table{
            background-color: whitesmoke;
            padding: 10px;
        }
        </style>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>