{% extends 'todo/base.html' %}

{% block content %}
<br>
    <h1 style = "color : red; text-align: center">My Content</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'todo:create' %}" method="post">
        {% csrf_token %}
        <!-- Todo Name -->
        <div style="background-color: white; padding: 10px">
        <div class="form-group">
            <label for="todo" class="col-sm-3 control-label">Content</label>
            <div class="col-sm-6">
                {{ form.body }}
            </div>
        </div>

        <!-- Add Todo Button -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-plus"></i> Add Content
                </button>
            </div>
        </div>
        </div>

    </form>
    

    <!-- Current Todos -->
    <h2 style = "color : red;">Current Content</h2>
    <table class="table table-striped todo-table">
        <thead>
            <th>Content</th><th>&nbsp;</th>
        </thead>

        <tbody>
            {% for post in posts %}
                <tr>
                    <!-- Todo Name -->
                    <td>
                        <div>{{ post.body }}</div>
                    </td>
                    <td>
                        <form action="{% url 'todo:delete' post.id %}" method="post">
                            {% csrf_token %}
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <b><p style="color : red; font: Angsana New; text-align: right">นางสาว จิรายุทธ ภู่นพกิจ 5910110054</p></b>
    
{% endblock %}